.menu {
    &-top {
        margin-top: 96px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }
    
    &-title {
        font-size: 54px;
        color: #A18460;

        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 30px;
            width: 90px;
            background: url('./../assets/images/triangles.svg');
            left: -106px;
            top: 50%;
            transform: translateY(-50%);
        }
        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            background-color: #A18460;
            left: calc(-100% - 60px);
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &-next {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 33px;
        min-width: 33px;
        max-height: 33px;
        max-width: 33px;

        border: 1px solid #A18460;
        border-radius: 100%;

        margin-bottom: 10px;
        align-self: flex-end;
        cursor: pointer;

        margin-left: 35px;
    }

    &-link {
        margin-top: 32px;
        text-decoration: underline;
        font-size: 18px;
        color: #A18460;
        font-weight: 500;
    }

    &-items {
        display: flex;
        flex-flow: row nowrap;
        gap: 0 24px;

        margin-top: 32px;
        margin-bottom: 96px;

        overflow-x: scroll;
        
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        //cursor: grab;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    &-item {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        scroll-snap-align: start;
        &__image {

        }
        &__text {
            margin-top: 24px;
            font-size: 20px;

            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 760px) {
    .menu-title {
        font-size: 48px;
    }
}

@media screen and (max-width: 425px) {
    .menu-next {
        margin-left: 15px;
    }
    .menu-title {
        font-size: 37px;
    }
}

@media screen and (max-width: 375px) {
    .menu-title {
        font-size: 34px;
    }
}